
/* Fuente importada de google */

@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
/*    font-family: Nunito; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/* BODY  */
@keyframes load{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

body {
  background: rgb(101,152,255);
  background: linear-gradient(180deg, rgba(101,152,255,1) 0%, rgba(0,43,129,1) 100%); 
  margin: 0 auto;
  width: 100%;
  background-attachment: fixed;
}

.articulo {
  padding-top: 2% ;
  width: 90%;
  clear: both;
  font-family: Nunito;
  text-align: justify;
  margin: auto;
  line-height: 20pt;
  animation: load 0.7s ease;

}


.bg{
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 38vw;
  align-items: center;
  text-align: center;
  z-index: -1;

}
.bg img{
  height: 60vh;
  opacity: 20%;
}

/* HEADER */
html{
  overflow-x: hidden;
  font-family: Nunito;
}
.encabezado {
  background-color: #303E8C;
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin-bottom: 0;
  box-shadow: -1px 1px 20px 4px rgba(0, 0, 0, 0.126);
  z-index: 2;
}

.botonEncabezado {
  float: left;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 100px;
  transition: 0.2s;
  text-align: center;
  font-family: Nunito;
  color: #D5E7F2;
  display: block;
}

.botonHome {
  float: left;
  margin: 0 auto;
  padding: 0;
  height: 100%;
  width: 50px;
  transition: 0.2s;
  text-align: center;
  font-family: Nunito;
  color: #ffff;
  display: block;
  justify-content: center;
}
.botonHome img {
  padding-top: 9px;
  width: auto;
  height: auto;
  max-height: 30px;


  filter: invert(92%) sepia(14%) saturate(300%) hue-rotate(171deg) brightness(98%) contrast(93%);}

.botonHome:hover {
  transition: 0.1s;
  background-color: #D5E7F2;
  color: #303E8C;
}
.botonHome:hover img {
  filter: invert(9%) sepia(57%) saturate(4562%) hue-rotate(230deg)
    brightness(98%) contrast(99%);
}

.botonEncabezado:hover {
  transition: 0.1s;
  background-color: #D5E7F2;
  color: #132374;
}

.botonEncabezado:hover .desplegable {
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
}
.desplegable:hover {
  opacity: 1;
  visibility: visible;
  transition: 0.2s;
}

.desplegable:hover a {
  color: rgb(92, 193, 255);
  transition: 0.1s;
  font-size: 12pt;
}

.desplegable:hover {
  background-color: #6e78a7;
}
.desplegable {
  float: left;
  clear: both;
  text-align: left;
  height: 30px;
  width: 230px;
  background-color: #555c81;
  display: block;
  opacity: 0;
  padding: 10px;
  color: #ffff;
  margin: 0 auto;
  transition: 0.2s;
  visibility: hidden;
  text-decoration: none;
}
.desplegable a {
  color: #ffff;
  text-decoration: none;
  transition: 0.2s;
  font-size: 11pt;
}

.desplegable:last-child {
  border-radius: 0 0 5px 5px;
}
.uno {
  border-radius: 5px 5px 0 0;
}



/* GALERIA */
/* Para que la escala entre la img y img hover vaya bien el max width tiene que ser el mismo entre los dos  */
.galeria img {
  z-index: 1;
  max-width: 300px;
  object-fit: cover;  
  width: 20%;
  height: 22.5%;
  display: inline-block;
  margin: 10px;
  border: 1px solid #4787c050;
  box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.8);  transition: 0.2s;
  border-radius: 7px;
  cursor: pointer;
}
.galeria img:hover {
  max-width: 300px;
  transition: 0.2s;
  overflow: hidden; 
  transform: scale(1.1);
  filter: brightness(85%) ;

}

.galeria {
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  text-align: center;
}
hr {
  color: #D5E7F2;
}
h1 {
  color: #D5E7F2;
  font-size: 40pt;
}
h2 {
  color: #D5E7F2  ;
  /* #8AB5BF */
}

/* Visualizador de imagenes */
.container {
 
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.616); /* Black w/ opacity */
  backdrop-filter: blur(5px);
  justify-content: center;
  text-align: center;

}

#expandedImg {
  height: 70%;
  display: inline-block;
  transition: 0.2s;
  filter: drop-shadow(0 0 0.75rem black);
}
#expandedImg:hover {
  filter: brightness(120%) drop-shadow(0 0 0.75rem black);
  transition: 0.2s;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}


#imgtext {
  padding-top: 20px;
  font-family: Nunito;
  text-align: center;
  margin: auto;
  line-height: 20pt;
  color: white;
}

/* Reproductor de video */
.video video{
  align-items: center;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  word-spacing: 1vw;
  box-shadow: 0px 0px 19px -5px rgba(0,0,0,0.8);  

}
.video{
  width: 100%;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  padding: 2vh;
}

.video2{
  width: 50%;
}
.video video{
  width: 100%
}

.videoParent{
  clear: both;
}

.videoParent h1{
  padding-top: 50px;
}

/* pagina */
.texto .portada{
  width: 20%;
  float: left;
  border-radius: 10px;
  box-shadow: 0px 0px 20px -10px;
  margin-right: 20px;
  transition: 0.5s ease;

}
.texto img:hover {
  overflow: hidden; 
  transform: scale(1.05);
  filter: brightness(80%) ;

}
.texto p{
  color: white;
  
}

.texto .head{
  font-size: 20pt;
}
.texto{
  clear: both;
padding-top: 50px;}

.spriteL{
  width: 250px;
  max-width: 30%;

  float: left;
  border-radius: 20px;
  margin-right: 20px;
  transition: 0.5s ease;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);

}

.spriteR{
  padding-left: 15px;
  width: 250px;
  max-width: 30%;
  margin-right: 20px;
  transition: 0.5s ease;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
  float:right;
}


.charR{
  float: right;
  width: 50%;
  clear: right;

}
.charR p{
  text-align: right;
  margin: 5px;
}
.charR h2{
  text-align: right;
  margin: 5px;
}

.charL{ 
  float: left;
  width: 50%;
}
.charL p{ 
  margin: 5px;
  text-align: left;

}
.charL h2{ 
  margin: 5px;
  text-align: left;

}
#ken{
  width: 25%;
}
.char{
  float: left;
  clear: both;
  padding: 3%;
  background-color: #00000041;
}


.personajes h1{
  padding-bottom: 30px;
}


.personajes img:hover {
  overflow: hidden; 
  transform: scale(1.05);
  filter: brightness(80%) ;

}
.personajes p{
  color: white;
  
}

.personajes{
  clear: both;
padding-top: 50px;}


.char:first-of-type{
  border-radius: 20px 20px 0 0 ;
}
.char:last-of-type{
  border-radius: 0 0 20px 20px;
}

.juegoParent{
  width: 100%;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  padding: 2vh;
  border-radius: 20px 20px 0 0;
  background-color:rgba(45, 45, 45, 0.338);
}

.juego{
  display: flex;  
  justify-content: center;  
  text-align: center;
  float: left;
  width: 33%;
}

.juego img{
  padding-top: 20px;
  width: 40%;
  border-radius: 5px;
  filter: drop-shadow(0 0 0.20rem black);

}
.juego h3{
  clear: both;
  float: left;
}


.juegoParent2{
  width: 100%;
  display: flex;  
  justify-content: center;  
  align-items: center;  
  padding: 2vh;
  border-radius:  0 0 20px 20px;

  background-color:rgba(45, 45, 45, 0.338);
}

.juego2{
  display: flex;  
  justify-content: center;  
  text-align: center;
  float: left;
  width: 33%;
}

